.content {
	text-align: center;
	vertical-align: middle;
}

.namebox{
	padding: 2px;
}

.checksource{
	padding: 2px;
}

.yearbox{
	padding: 2px;
}

.confbox{
	padding: 2px;
}

.idbox{
	padding: 2px;
}

.cachebox{
	padding: 2px;
}

.subcachebox{
	padding: 4px;
}

.typebox{
	padding: 2px;
}

.subtypebox{
	padding: 4px;
}






