  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
        </div>
        <div class="sidebar-brand-text mx-3">AutoPub User</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/user/publication", token]' routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Publication</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/user/blacklist", token]' routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Blacklist</span>
        </a>
      </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">            
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="ml-2 d-none d-lg-inline text-white small">Tomas Cerny</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Blacklist Management</h1>
          </div>
          <input type="checkbox" [checked]="showTitle" (change)="showTitle = !showTitle" /> Title
          <input type="checkbox" [checked]="showAuthors" (change)="showAuthors = !showAuthors" /> Authors
          <input type="checkbox" [checked]="showDoi" (change)="showDoi = !showDoi" /> DOI
          <input type="checkbox" [checked]="showDescription" (change)="showDescription = !showDescription" /> Description
          <input type="checkbox" [checked]="showVenue" (change)="showVenue = !showVenue" /> Venue
          <input type="checkbox" [checked]="showCitation" (change)="showCitation = !showCitation" /> Cite
          <input type="checkbox" [checked]="showYear" (change)="showYear = !showYear" /> Year
          <input type="checkbox" [checked]="showPublisher" (change)="showPublisher = !showPublisher" /> Publisher
          <input type="checkbox" [checked]="showPages" (change)="showPages = !showPages" /> Pages
          <input type="checkbox" [checked]="showVolumn" (change)="showVolumn = !showVolumn" /> Vol.
          <input type="checkbox" [checked]="showNumber" (change)="showNumber = !showNumber" /> No.
          <!-- Row -->
          <div class="row">            
            <!-- DataTable with Hover -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">List of publications</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th *ngIf="showTitle">Title</th>
                        <th *ngIf="showAuthors">Authors</th>
                        <th *ngIf="showDoi">DOI</th>
                        <th *ngIf="showDescription">Description</th>
                        <th *ngIf="showVenue">Venue</th>
                        <th *ngIf="showCitation">Cite</th>
                        <th *ngIf="showYear">Year</th>
                        <th *ngIf="showPublisher">Publisher</th>
                        <th *ngIf="showPages">Pages</th>
                        <th *ngIf="showVolumn">Vol.</th>
                        <th *ngIf="showNumber">No.</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tfoot>

                    </tfoot>
                    <tbody>
                      <tr>
                        <td *ngIf="showTitle"><input type="text" name='search_title' [value] = 'search_title' (keyup)="changeSearch('title',searchtitle.value)" #searchtitle/></td>
                        <td *ngIf="showAuthors"><input type="text" name='search_authors' [value] = 'search_authors' (keyup)="changeSearch('authors',searchauthors.value)" #searchauthors/></td>
                        <td *ngIf="showDoi"> <input type="text" name='search_doi' [value] = 'search_doi' (keyup)="changeSearch('doi',searchdoi.value)" #searchdoi/></td>
                        <td *ngIf="showDescription"><input type="text" name='search_description' [value] = 'search_description' (keyup)="changeSearch('description',searchdescription.value)" #searchdescription/></td>
                        <td *ngIf="showVenue"> <input type="text" name='search_venue' [value] = 'search_venue' (keyup)="changeSearch('venue',searchvenue.value)" #searchvenue/></td>
                        <td *ngIf="showCitation"><input type="text" name='search_citation' [value] = 'search_citation' (keyup)="changeSearch('citation',searchcitation.value)" #searchcitation/></td>
                        <td *ngIf="showYear"><input type="text" name='search_year' [value] = 'search_year' (keyup)="changeSearch('year',searchyear.value)" #searchyear/></td>
                        <td *ngIf="showPublisher"><input type="text" name='search_publisher' [value] = 'search_publisher' (keyup)="changeSearch('publisher',searchpublisher.value)" #searchpublisher/></td>
                        <td *ngIf="showPages"><input type="text" name='search_pages' [value] = 'search_pages' (keyup)="changeSearch('pages',searchpages.value)" #searchpages/></td>
                        <td *ngIf="showVolumn"><input type="text" name='search_volumn' [value] = 'search_volumn' (keyup)="changeSearch('volumn',searchvolumn.value)" #searchvolumn/></td>
                        <td *ngIf="showNumber"><input type="text" name='search_number' [value] = 'search_number' (keyup)="changeSearch('number',searchnumber.value)" #searchnumber/></td> 
                        <td></td>
                      </tr>

                      <tr *ngFor="let publication of active_publications; let i = index">
                          <td *ngIf="showTitle"> {{ publication.title }} </td>
                          <td *ngIf="showAuthors"> {{ publication.authors }} </td>
                          <td *ngIf="showDoi"> {{ publication.doi }} </td>
                          <td *ngIf="showDescription"> {{ publication.description }} </td>
                          <td *ngIf="showVenue"> {{ publication.venue }} </td>
                          <td *ngIf="showCitation"> {{ publication.citation }} </td>
                          <td *ngIf="showYear"> {{ publication.year }} </td>
                          <td *ngIf="showPublisher"> {{ publication.publisher }} </td>
                          <td *ngIf="showPages"> {{ publication.pages }} </td>
                          <td *ngIf="showVolumn"> {{ publication.volumn }} </td>
                          <td *ngIf="showNumber"> {{ publication.number }} </td>
                          <td><i class="fas fa-plus-circle" (click) = "unblock(i)" style="cursor: pointer;"></i></td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

          <!-- Documentation Link -->

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>