<div class="welcome-area" id="home">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div style="text-align: center;" class="left-text col-lg-12 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1><strong>AUTO</strong>matic <strong>PUB</strong>lication generation</h1>
                    <p>You don't need to update your list of publications on your web page anymore. We take a good care of it for you !</p>
                    <a href="#faculty" class="main-button-slider">Let's try it</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>